In [2]:
import numpy as np
import pandas as pd

In [5]:
# 1. Print Summary of transaction data set
df=pd.read_csv("transactions.csv")
df.describe()

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [9]:
#2 Print Numbers of Attributes
df.shape[1]

5

In [10]:
#3 Print Numbers of Records
df.shape[0]

10

In [12]:
len(df.index)

10

In [14]:
#4 Get the row names
df.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#5 Get the column names
df.columns.tolist()

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [17]:
#6 View top 10 Records
df.head(10)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [21]:
#7 .Change the name of column “ Quantity” to “Quant”
df.rename(columns={'Quantity':'Quant'},inplace=True)
df

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [22]:
df.rename(index={0:3},inplace=True)
df

   TransactionID TransactionDate  UserID  ProductID  Quant
3              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [28]:
#8 Change the name of columns ProductID and UserID to PID and UID respectively
df.rename(columns={"ProductID":"pid","UserID":"uid"},inplace=True)
df

   TransactionID TransactionDate  uid  pid  Quant
3              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [9]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True

In [10]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending

In [11]:
#11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID

In [12]:
#12. Make UserID the first column of transactions

In [13]:
#13. Extracting arrays from a Data Frame. Get the 2nd column

  # first parameter for row and the other for col

In [14]:
#14. Get the ProductID Array

In [15]:
#15.Row subsetting, subset rows 1,3 and 6

In [16]:
# 16. subset rows excluding 1,3 and 6

In [17]:
#17.Subset the first three rows

In [18]:
 #1 Subset the last 2 row

In [19]:
#19 . Subset rows excluding the last 2 rows

In [20]:
#20 . Subset rows excluding the first 3 rows

In [21]:
#21 . Subset rows where Quantity>1

In [22]:
 #22 Subset rows where UserID=2

In [23]:
 #23 Subset rows where Quantity>1 and UserID=2

In [24]:
#24. Subset rows where Quantity + UserID is >3

In [25]:
# 26. Subset rows where an external array, foo, is True

In [26]:
#27 Subset rows where an external array, bar, is positive

In [27]:
# 28. Subset rows where foo is TRUE or bar is negative

In [28]:
 #29 Subset the rows where foo is not TRUE and bar is not negative

In [29]:
 #30 Subset by columns 1 and 3

In [30]:
#31 Subset by columns TransactionID and TransactionDate

In [31]:
# 32. Subset by columns TransactionID and TransactionDate with logical operator

In [32]:
# 33. Subset columns by a variable list of column names

In [33]:
#34 . Subset columns excluding a variable list of column names

In [34]:
# 36. Convert the TransactionDate column to type Date

In [35]:

# 37. Inserting and updating values

In [36]:
#38